meta(charset="UTF-8")
meta(name="viewport", content="initial-scale=1")
    
link(rel='stylesheet', href='http://fonts.googleapis.com/earlyaccess/alefhebrew.css')
link(rel='stylesheet', href='public/style/reset.css')
link(rel='stylesheet', href='public/style/main.css')

title Tachles
