doctype html
html
    head
        include header.jade
        
    body
        include location.jade
        include sidebar.jade
        section.main_content
            // include main.jade

        script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
        script(src='public/scripts/main.js')
