doctype html
html
    head
        include header.jade
        
    body
        include location.jade
        include sidebar.jade
        section.main_content
            .bg-black

            nav.opened_menu.mini
                a Zionut
                a Rome
                a Zionut
                a Rome
                a Zionut
                a Rome
                a Zionut
                a Rome
                a Zionut
                a Rome
                a Zionut
                a Rome
                a Zionut
                a Rome
                a Zionut
                a Rome
                a Zionut
                a Rome
                

        script(src='public/scripts/main.js')
