aside.sidebar(ng-controller='sidebar')
    a(href='index.html')
        img.logo(src='public/images/logo.png')
        
    form(action='search.php', method='get')
        input.search_input(type='search', name='q')

    ul.menu_list
        li.item
            img(src='public/images/sidebar_icons/{{class.icon}}')
            span {{class.name}}
            
    footer.sidebar_footer אודות
