body {
	font-family: 'Open Sans', sans-serif;
	display: flex;
	height: 100vh;
}

main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

article {
	flex-grow: 1;
	width: 900px;
}

footer {
	color: #555;
	font-size: 13px;
	height: 20px;
	text-align: center;
}

#prev-post, #next-post {
	font-size: 72px;
	padding: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

/* Blog */
article {
	line-height: 1.428;
	font-size: 14px;
	
	h1 {
		font-size: 36px;
		font-weight: 600;
	}
	
	h2 {
		font-size: 30px;
		font-weight: 600;
	}
	
	h3 {
		font-size: 24px;
		font-weight: 600;
	}
	
	h4 {
		font-size: 18px;
		font-weight: 600;
	}
	
	h5 {
		font-size: 14px;
		font-weight: 600;
	}
	
	h6 {
		font-size: 12px;
		font-weight: 600;
	}
}